#app{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#app > h1{
    color: #996dff;
    margin-top: -5px;
}

#app > h2{
    position: relative;
    align-self: flex-start;
    margin-top: 64px;
    margin-bottom: 10px;
    border-top-left-radius: 5px;
    background-color: #19191b;
    padding: 5px;
}

#app > h2::after{
    content: " ";
    position: absolute;
    display: block;
    width: 25px;
    height: 39px;
    top: 0;
    left: 112px;
    z-index: -1;
    background: #19191b;
    transform-origin: bottom left;
    -ms-transform: skew(30deg, 0deg);
    -webkit-transform: skew(30deg, 0deg);
    transform: skew(30deg, 0deg);
}

#app > p{
    align-self: flex-start;
    text-align: justify;
    width: 512px;
    margin-top: -5px;
    background-color: #19191b;
    min-height: 10vh;
    border-radius: 5px;
    padding-inline: 10px;
    padding-block: 5px;
}

#app .placeholder {
    color: #7c7c8a;
    user-select: none;
}
